<nav id="container-nav-header" [@asideCollapse]="asideState" [ngClass]="(asideState == 'close')? 'aside-close': ''">
  <div id="nav-header">
    <div class="user-image">
      <img [src]="user?.photoURL">
    </div>
    <div class="user-info">
      <h3>{{user?.displayName}}</h3>
      <h4>{{user?.email}}</h4>
      <span>{{today | date:"EEEE, MMMM d, y" | uppercase}}</span>
    </div>
  </div>
  <ul>
    <li>
      <a routerLink="">
        <i class="fa fa-home"></i>
        <span *ngIf="asideState == 'open'">Inicio</span>
      </a>
    </li>
    <li>
      <a routerLink="collections">
        <i class="fa fa-book"></i>
        <span *ngIf="asideState == 'open'">Colección</span>
      </a>
    </li>
    <li>
      <a routerLink="favorites">
        <i class="fa fa-star"></i>
        <span *ngIf="asideState == 'open'">Favoritos</span>
      </a>
    </li>
    <li>
      <a (click)="logout()">
        <i class="fa fa-power-off"></i>
        <span *ngIf="asideState == 'open'">Salir</span>
      </a>
    </li>
  </ul>
</nav>