header {
    width: 100%;
    position: relative;
    z-index: 0;
    background-color: var(--main-color);
    height: 64px;
  }

header .activator-menu {
  font-size: 30px;
  cursor: pointer;
  margin: 0 30px;
}

header .title {
  font-size: 30px;
  cursor: pointer;
}

  header .search-box {
    float: right;  
    clear: right;
    margin: 10px 100px 0 0;
  }

  header .search-box input[type=text] {
    padding: 10px 5px;
    border-radius: 0px 8px 8px 2px;
    border: 1px solid #333;
    border-left: none;
    margin-left: 0;
    color: #333;
    width: 100px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  header .search-box input[type=text]:focus {
    border-radius: 8px 0 0 8px;
    border-color: #cc6600;
    width: 300px;
  }
  
  header .search-box button[type=button] + input[type=text] {
    color: rgb(255, 255, 255);
    padding: 2px 8px;
    margin-left: -5px;
    border-radius: 0 8px 8px 0;
    border: 1px solid #333;
    border-left: none;
  }
  
  header .search-box button[type=button] + input[type=text]:focus {
    border-color: #cc6600;
  }

  header .fa-stack  {
    float: right;  
    clear: right;
    margin: -30px 20px 50px 50px;
  }