<div id="books-content" class="books-content">
  <div *ngFor="let book of booksList?.items" id="book" class="book">
    <mat-card class="example-card">
      <mat-card-header class="card-header">
        <mat-card-title class="card-title">{{book.volumeInfo.title}}</mat-card-title>
        <mat-card-subtitle class="card-subtitle">{{book.volumeInfo.authors}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="book.volumeInfo.imageLinks?.smallThumbnail" alt="Book image">
      <mat-card-content class="card-content" style="-webkit-box-orient: vertical">
        <p>
          {{book.volumeInfo.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button>
          <mat-icon aria-label="Favorite icon-button" (click)=addFavorite(book)>favorite</mat-icon>
        </button>
        <a class="submit-detail-book" [routerLink]="['detail', book.id]">Ver Detalle</a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="changePage($event)"></mat-paginator>
<br/>
<br/>