<form #loginForm="ngForm">
  <mat-card-content>
    <table cellspacing="0">
      <tr>
        <td>
          <mat-form-field>
            <input type="email" placeholder="Email" [(ngModel)]="login.email" name="email" #email="ngModel" required matInput>
            <div [hidden]="email.valid || email.pristine" role="alert">
              Invalid email
            </div>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input type="password" placeholder="Password" [(ngModel)]="login.password" name="password" #password="ngModel" required matInput>
            <div [hidden]="password.valid || password.pristine" role="alert">
              Invalid password
            </div>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" [disabled]="!loginForm.form.valid" (click)="doLogin()">Login</button>
    <button mat-stroked-button [disabled]="!loginForm.form.valid" (click)="createUser()" color="primary">Registrarse</button>
  </mat-card-actions>
  <mat-card-actions>
    <button mat-raised-button (click)="signGoogle()" color="warn">Sign in using Google+</button>
    <button mat-raised-button (click)="signFacebook()" color="primary">Sign in using Facebook</button>
  </mat-card-actions>
</form>