<nav id="container-nav-header">
  <div id="nav-header">
    <div>
      <img src="../images/user.png" height="64px" width="64px">
    </div>
    <h2 id="username-navbar">William Possos</h2>
  </div>
  <ul>
    <li>
      <a href="#/">
        <i class="fa fa-home"></i>
        <span>Inicio</span>
      </a>
    </li>
    <li>
      <a href="#collection">
        <i class="fa fa-book"></i>
        <span>Colección</span>
      </a>
    </li>
    <li>
      <a href="#favorites">
        <i class="fa fa-star"></i>
        <span>Favoritos</span>
      </a>
    </li>
    <li>
      <a href="#salir">
        <i class="fa fa-power-off"></i>
        <span>Salir</span>
      </a>
    </li>
  </ul>
</nav>