<mat-card class="example-card">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">{{book.volumeInfo.title}}</mat-card-title>
    <mat-card-subtitle class="card-subtitle">{{book.volumeInfo.authors}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="book.volumeInfo.imageLinks.smallThumbnail" alt="Book image">
  <mat-card-content class="card-content" style="-webkit-box-orient: vertical">
    <p>
      {{book.volumeInfo.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button>
      <mat-icon aria-label="Favorite icon-button" (click)=removeFavorite(book)>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>