<span class='star-rating'>
 <!--  <i ngIf='[score] > 1' class="to-display fa fa-star" ></i>
  <i ngIf='[score] = 1' class="to-display fa fa-star"></i>
  <i ngIf='[score] < 1' class="to-display fa fa-star-o"></i>

  <i ngIf='[score] > 2' class="to-display fa fa-star" ></i>
  <i ngIf='[score] = 2' class="to-display fa fa-star"></i>
  <i ngIf='[score] < 2' class="to-display fa fa-star-o"></i>

  <i ngIf='[score] > 3' class="to-display fa fa-star" ></i>
  <i ngIf='[score] = 3' class="to-display fa fa-star"></i>
  <i ngIf='[score] < 3' class="to-display fa fa-star-o"></i>

  <i ngIf='[score] > 4' class="to-display fa fa-star" ></i>
  <i ngIf='[score] = 4' class="to-display fa fa-star"></i>
  <i ngIf='[score] < 4' class="to-display fa fa-star-o"></i>

  <i ngIf='[score] > 5' class="to-display fa fa-star" ></i>
  <i ngIf='[score] = 5' class="to-display fa fa-star"></i>
  <i ngIf='[score] < 5' class="to-display fa fa-star-o"></i> -->
</span>
