.page-content {
    flex: 1 100%;
    padding: 20px;
    overflow-y: scroll;
}
app-main{
    flex: 1 100%;
    top: 56px;

}
top-nav-app{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
left-nav-app{
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
    background-color:  rgba(0,0,0,.03)
}