<mat-card>
  <mat-toolbar color="primary">
      <span>Collection</span>
  </mat-toolbar>
  <mat-card-content>
    <p>
      Description.
    </p>
    <img mat-card-image src="myimg">
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Entrar</button>
    <button mat-raised-button color="accent">Eliminar</button>
  </mat-card-actions>
</mat-card>
<br/>
<mat-card>
    <mat-toolbar color="primary">
        <span>Collection</span>
    </mat-toolbar>
    <mat-card-content>
      <p>
        Description.
      </p>
      <img mat-card-image src="myimg">
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Entrar</button>
      <button mat-raised-button color="accent">Eliminar</button>
    </mat-card-actions>
  </mat-card>
  <br/><mat-card>
      <mat-toolbar color="primary">
          <span>Collection</span>
      </mat-toolbar>
      <mat-card-content>
        <p>
          Description.
        </p>
        <img mat-card-image src="myimg">
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Entrar</button>
        <button mat-raised-button color="accent">Eliminar</button>
      </mat-card-actions>
    </mat-card>
  

<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>